  ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: #7B68EE;
  }

  ::ng-deep .button3 .p-button {
    background: #7B68EE;
    border-color: #7B68EE;
  }
  ::ng-deep .button3 .p-button:hover {
    background: #6A5ACD;
    
  }

  ::ng-deep .tablebutton .p-button {
    background: #7B68EE;
    width: 30px;
  }

  ::ng-deep .tablebutton .p-button:hover {
    background: #6A5ACD;
    width: 30px;
  }
  ::ng-deep .sort1 .p-button:hover {
    background: #6A5ACD;
  }
  ::ng-deep .sort1 .p-button {
    background: #7B68EE;
    border-color: #7B68EE;
  }
  
  