<div class="grid ">
    <div class="col-12 border-round-xl bg-indigo-300 ">
        <div class=" col-12 text-center p-3 border-round-xl  bg-indigo-300 font-bold">
            <div class="grid">
                <div class="col-2 gg  bg-indigo-300">
                    <div class=" max-w-min md:max-w-max lg:max-w-max text-center border-round-xl  font-bold">
                        <p-button class=" btnColor max-w-min md:max-w-max lg:max-w-max " icon="pi pi-trash" [rounded]="true" [text]="true" severity=""></p-button>
                    </div>
                </div>
                <div class="col-10 dd bg-indigo-300">
                    <div class=" text-center border-round-xl bg-indigo-300 font-bold ">
                        <span class="  p-input-icon-left">
                            <p class="text-white">عرض التذكرة الخاصة بالفيلم </p>
                           
                            <i (click)="ClipBoardCopy(userInput)" class=" cursor-pointer pi pi-copy  "></i>
                            <input #userInput pInputText type="text"
                                class=" max-w-min md:max-w-max lg:max-w-max input1 p-inputtext-sm" placeholder=""
                                [(ngModel)]="value" />
                            <p class="text-white fontStyle">فعال حتي 15 يوليو2023</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-12 border-round-xl bg-indigo-300 font-bold">
            <div class="grid">
                <div class=" bg-indigo-300">
                    <div  class="  col-4 text-center border-round-xl font-bold">
                        <qrcode dir="" [qrdata]="'Your QR Code Data Here'"
                            class=" max-w-min md:max-w-max lg:max-w-max custom-qrcode"></qrcode>
                    </div>
                </div>
                <div class="col-4 col-offset-4 ">
                    <div class=" text-center border-round-xl bg-indigo-300 font-light">
                        <div dir="rtl" class=" ccv ">
                            <p class="text-white ">25% خصم</p>
                            <p-button  class=" text-white" label="مشاركة"
                                [outlined]="true" icon="pi pi-send " iconPos="left" size="small"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>