

h1, h2, h3, h4, h5, h6,p {
  font-family: 'Neo Sans Arabic', sans-serif;
}


  

::ng-deep .p-button:hover{
  background-color: #6A5ACD;
}
 
  ::ng-deep .p-button{
      color: white;
    }


::ng-deep .ccv .p-button{
    height: 20px;
    box-sizing: border-box;
    margin-left:0%;
    
   
}


