<div class=" w-100 p-6 bg-gray-200 -mt-2">

  <div class="   grid">
    <div class="col-4 md:col-6 lg:col-4">
      <div class="text-left p border-round-  font-bold">
        <p-button class="edit mr-3 mt-3" label="تعديل" icon="pi pi-file-edit " iconPos="right" size="small"></p-button>
      </div>
    </div>
    <div class="col-12 md:col-4 lg:col-4 col-offset-4 flex justify-content-end flex-wrap   ">
      <div class="text-right  border-round-sm font-bold font-">

        <p class="ml-4 ">تذكرة رقم #2342</p>
      </div>
      <p-button class="arrow ml-1" icon="pi pi-arrow-right" iconPos="right"></p-button>

    </div>
  </div>

  <div class="grid">
    <div class="col-12 md:col-6 lg:col-4 ">
      <div class=" text-center p-3 max-w-min md:max-w-max lg:max-w-max border-round-xl bg-indigo-300 font-bold ">
        <app-card></app-card>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-8  ">
      <div dir="rtl" class="text-center p-3 border-round-xl bg-white  font-bold ">
        <app-diagram></app-diagram>
      </div>
    </div>
  </div>
<div class="grid">
    <div class="col-12 md:col-6 lg:col-12">
      <div class="text-center p-3 border-round-sm font-bold ">
        <app-table></app-table>
      </div>
    </div>

  </div>
</div>