
::ng-deep .p-button:hover{
    background-color: #6A5ACD;
  }
 ::ng-deep .edit .p-button{
    background-color:rgba(255, 255, 255, 0.457);
    color: black;
    border-color:rgba(255, 255, 255, 0.457) ;
  
}

::ng-deep .arrow .p-button{
    background-color: rgb(179, 177, 177);
    border-color:rgb(179, 177, 177) ;
    
}
